<div class="blog-item img-right">

	<div class="blog-item__content">
	  <span class="blog-item__title text-size--large">{{ 'general.onboarding.article_title' | t }}</span></span>
		<span class="blog-item__info text-size--smaller">12 May 2017</span>
	</div>

	<div class="blog-item__image">
  	<span class="onboarding-svg">
      {{ 'collection-X' | replace: 'X', index | placeholder_svg_tag }}</span>
    </span>
	</div>

</div>