{%- unless product.available -%}
  <div class="product-badge right sold text-size--smaller"><span>{{ 'product.sold_out' | t }}</span></div>
{%- else -%}
  {%- if product.compare_at_price > product.price -%}
    <div class="product-badge right sale text-size--smaller"><span>{{ 'product.on_sale' | t }}</span></div>
	{% elsif product.tags contains 'preorder' or product.tags contains 'pre order' %}
	  <div class="product-badge right preorder text-size--smaller"><span>{{ 'product.pre_order' | t }}</span></div>
	{% elsif product.tags contains 'new' %}
	  <div class="product-badge right new text-size--smaller"><span>{{ 'product.new' | t }}</span></div>
	{% endif %}
{%- endunless -%}