{%- if shop.password_message != blank -%}
  <div class="site-box-container container--fullscreen">
    <div class="site-box box--small-fl-auto lap--box--small-fl box__announcement box--typo-big box--center-align box--text-align-center box--column-flow" style="min-height:0!important">
      <div class="site-box-content">
        <div class="content">
          <div class="subtitle">{{ shop.password_message }}</div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
	{
    "name": "t:sections.main-password-content.name",
    "templates": ["password"]
  }
{% endschema %}